.frame
  position relative
  background-size cover
  background-position 50% 50%
  z-index 1
  transform-style preserve-3d
  transform translate3d(0,0,0)
  > .copy
    gf(h1)
    color gc(white1)
    margin 250px 0 0 0
    text-align center
  > .border
    height 20px
    width 110%
    left -5%
    background-image url(/svg/border.svg)
    background-repeat repeat-x
    background-size 100%
    position absolute
    > svg
      width inherit
      height inherit
    &.top
      top -8px
    &.bottom
      bottom 0


.page.about

  > .history
    max-width 1000px
    margin 50px auto

    > .frame
      float left
      background-image url(/img/about/history.jpg)
      margin-right 25px
      width 475px
      height 600px
      z-index -1
    > .copy
      width 475px
      float right
      margin 100px 0 0 25px
      gf(copy5l)
      line-height 30px
  > .priority
    max-width 1000px
    margin 50px auto
    > .banner
      background-image url(/img/about/clients.jpg)
      background-size cover
      > .copy
        gf(h1)
        text-align center
        color gc(white1)
        padding 50px 0
    > .copy
      text-align center
      gf(copy5l)
      line-height 30px

  > .experience
    max-width 1000px
    margin 50px auto
    > .frame
      float right
      background-image url(/img/about/experience.jpg)
      margin-left 25px
      > .copy
        margin 150px 20px
    > .copy
      width 475px
      float left
      margin 50px 0 0 25px
      gf(copy5l)
      line-height 30px

  > .consultation
    max-width 1000px
    margin 50px auto
    > .frame
      float left
      background-image url(/img/about/consultation.png)
      background-size contain
      background-repeat no-repeat
      margin-right 25px
      height 400px
      > .copy
        margin 125px 50px 0px 50px
    > .copy
      float right
      width 475px
      margin 100px 0 0 25px
      gf(copy5l)
      line-height 30px
      a
        color gc(red1)

  > .testimonials
    padding 50px 0
    max-width 1000px
    margin auto
    text-align center
    > .title
        gf(h1)
        color gc(blue1)
    > .testimonial
      gf(copy6)
      > p
        padding 20px
    > .stars
      width 100px
      height 20px
      margin auto
      > svg
        path
          fill gc(red1)


@media all and (min-width: 1px) and (max-width: 1000px)
  .page.about
    > .history, > .experience, > .priority
      > .frame
        float none
        width 300px
        height 400px
        margin auto
        > .copy
          margin 100px 20px 0 20px
      > .copy
        margin 10px 20px
        width auto
        float none
    > .experience > .frame > .copy
      margin 30px 20px 0 20px
    > .consultation
      > .frame
        margin auto
        float none
        height 290px
        > .copy
          margin 75px 0 0 0
      > .copy
        float none
        margin 20px
        width auto
