.attorney
  max-width 900px
  margin auto
  padding 50px 0
  > .name
    gf(h3)
    color gc(blue1)
    gc(blue1)
  > .title
    color gc(blue1)
    gc(blue1)

  > .copy .b
    gf(copy2bi)

  > .copy .bb
    gf(copy2b)



  > .copy > ul.custom
    margin-left 410px

  > .picture
    background-size cover
    &.nancy
      background-image url('/img/attorneys/nancy.jpg')
      width 400px
      height 500px
      background-position 0% 50%
    &.mark
      background-image url('/img/attorneys/mark.jpg')
      width 400px
      height 450px
      background-position 0% 10%
    &.charles
      background-image url('/img/attorneys/charles.jpg')
      width 400px
      height 700px
      background-position 0% 100%
    &.kate
      background-image url('/img/attorneys/kate.jpg')
      width 400px
      height 470px
      background-position 0% 100%
    &.brendan
      background-image url('/img/attorneys/brendan.jpg')
      width 400px
      height 700px
      background-position 50% 100%
    &.nuala
      background-image url('/img/attorneys/nuala.jpg')
      width 400px
      height 460px
      background-position 0% 25%
    &.right
      float right
      margin 0 0 20px 20px
    &.left
      float left
      margin 20px 20px 0 0

@media all and (min-width: 1px) and (max-width: 1000px)
  .attorney
    margin 0 20px
    > .picture
      float none !important
      margin 0 !important
      width auto !important
      height 300px !important
      background-position 0% 0% !important
      &.kate
        background-position 0% 50% !important
      &.brendan
        background-position 0% 25% !important
    > .name, > .title, > .copy
      padding 0 10px
    > .name
      padding 25px 10px 0 10px
    > .copy > ul.custom
      margin-left 0
