.newsdetail
  max-width 1000px
  margin 50px auto
  > .article
    margin 0 0 0 180px
    > .image
      height 300px
      line-height 300px
      background-size cover
      background-position 100%
    > .title
      gf(copy3)
      padding 10px 0

@media all and (min-width: 1px) and (max-width: 1000px)
  .newsdetail
    > .newsummary
      display none
    > .article
      margin 0 20px
