
.news
  max-width 1000px
  margin 50px auto
  > .summary
    float left
    width 140px
    > .article
      > .image
        background-color gc(red1)
        width 140px
        height 100px
        text-align center
        line-height 100px
        color gc(white1)
      > .title
        gf(copy1s)
        padding 10px 0
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

  > .articles
    margin 0 0 0 180px

    > .article
      padding 0 0 20px 0
      > .image
        height 300px
        background-color gc(blue1)
        line-height 300px
        text-align center
        color gc(white1)
      > .title
        gf(copy3)
        padding 10px 0
      > .link
        display block
        padding 10px 0
