
.news
  max-width 1000px
  margin 50px auto
  > .summary
    float left
    width 140px
    > .article
      > .image
        background-color gc(red1)
        background-size cover
        width 140px
        height 100px
        text-align center
        line-height 100px
        color gc(white1)
      > .title
        gf(copy1s)
        padding 10px 0
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

  > .articles
    margin 0 0 0 180px

    > .article
      padding 0 0 20px 0
      > .image
        height 300px
        line-height 300px
        background-size cover
        background-position 100%
      > .title
        gf(copy3)
        padding 10px 0
      > .link
        display block
        padding 10px 0

@media all and (min-width: 1px) and (max-width: 1000px)
  .news
    > .summary
      display none
    > .articles
      margin 0 20px
