
extends ../inc/layout

block content

  .page.attorneys

    .attorney
      .picture.nancy.right
      .name Nancy Hersh
      .title Founding Partnero

      .copy
        p Nancy shared the practice with her father LeRoy for over 30 years. Together they built a firm based on essential values that continue to this day. Nancy's accomplishments are recognized by both her clients and her peers. She received the San Francisco Trial Lawyers Association Lifetime Achievement Award in April 2010, an honor that had never before been awarded to a woman trial lawyer. This award reflects Nancy's career and accomplishments in helping those injured and those who otherwise would have no voice.  
        p Throughout her career Nancy has been a passionate advocate, using the law to address women's healthcare issues and other areas of social justice. As one of the first woman personal injury lawyers she combines the tenaciousness, determination, and empathy for her clients. These attributes are essential as she has tackled a series of groundbreaking cases including DES Litigation, the first breast implant case to establish the connection between silicone and physical injuries, and the first Diet Drug (Fen-Phen) case filed and settled. 

        p Personal Statement
        p A native San Franciscan, I am dedicated to using the law to achieve justice.

        p I was born in San Francisco and was raised in the Sunset District. I decided at the age of twelve that I wanted to be a lawyer after seeing my father's love of the law and his ability to do justice and achieve social change through his profession. We shared the practice, cases, trials, ideas, and our work lives for over thirty years. 

        p I am a strong advocate for women's healthcare issues. I have been interested in women's healthcare issues since I began to practice. At that time - and unfortunately even now - the healthcare system and the drug and medical device companies treated women differently than men. This led me to develop expertise in the areas of medical malpractice involving women, such as obstetrical malpractice, and in the area of drugs and medical devices designed especially for women such as IUDs, DES (the drug given to pregnant women to prevent miscarriage), breast implants, diet drugs, and other such products. My experiences as one of the first women trial lawyers have made me a tougher, better lawyer with more empathy toward those who have suffered any kind of prejudice.

    .dotborders.right
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney

      .picture.kate.left
      .name Kate Hersh-Boyle 
      .title Founding Partnero

      .copy
        p Nancy shared the practice with her father LeRoy for over 30 years. Together they built a firm based on essential values that continue to this day. Nancy's accomplishments are recognized by both her clients and her peers. She received the San Francisco Trial Lawyers Association Lifetime Achievement Award in April 2010, an honor that had never before been awarded to a woman trial lawyer. This award reflects Nancy's career and accomplishments in helping those injured and those who otherwise would have no voice.  
        p Throughout her career Nancy has been a passionate advocate, using the law to address women's healthcare issues and other areas of social justice. As one of the first woman personal injury lawyers she combines the tenaciousness, determination, and empathy for her clients. These attributes are essential as she has tackled a series of groundbreaking cases including DES Litigation, the first breast implant case to establish the connection between silicone and physical injuries, and the first Diet Drug (Fen-Phen) case filed and settled. 

        p Personal Statement
        p A native San Franciscan, I am dedicated to using the law to achieve justice.

        p I was born in San Francisco and was raised in the Sunset District. I decided at the age of twelve that I wanted to be a lawyer after seeing my father's love of the law and his ability to do justice and achieve social change through his profession. We shared the practice, cases, trials, ideas, and our work lives for over thirty years. 

        p I am a strong advocate for women's healthcare issues. I have been interested in women's healthcare issues since I began to practice. At that time - and unfortunately even now - the healthcare system and the drug and medical device companies treated women differently than men. This led me to develop expertise in the areas of medical malpractice involving women, such as obstetrical malpractice, and in the area of drugs and medical devices designed especially for women such as IUDs, DES (the drug given to pregnant women to prevent miscarriage), breast implants, diet drugs, and other such products. My experiences as one of the first women trial lawyers have made me a tougher, better lawyer with more empathy toward those who have suffered any kind of prejudice.

    .dotborders.left
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney

      .picture.charles.right
      .name Charles C. Kelly, II.
      .title Partner

      .copy
        p Nancy shared the practice with her father LeRoy for over 30 years. Together they built a firm based on essential values that continue to this day. Nancy's accomplishments are recognized by both her clients and her peers. She received the San Francisco Trial Lawyers Association Lifetime Achievement Award in April 2010, an honor that had never before been awarded to a woman trial lawyer. This award reflects Nancy's career and accomplishments in helping those injured and those who otherwise would have no voice.  
        p Throughout her career Nancy has been a passionate advocate, using the law to address women's healthcare issues and other areas of social justice. As one of the first woman personal injury lawyers she combines the tenaciousness, determination, and empathy for her clients. These attributes are essential as she has tackled a series of groundbreaking cases including DES Litigation, the first breast implant case to establish the connection between silicone and physical injuries, and the first Diet Drug (Fen-Phen) case filed and settled. 

        p Personal Statement
        p A native San Franciscan, I am dedicated to using the law to achieve justice.

        p I was born in San Francisco and was raised in the Sunset District. I decided at the age of twelve that I wanted to be a lawyer after seeing my father's love of the law and his ability to do justice and achieve social change through his profession. We shared the practice, cases, trials, ideas, and our work lives for over thirty years. 

        p I am a strong advocate for women's healthcare issues. I have been interested in women's healthcare issues since I began to practice. At that time - and unfortunately even now - the healthcare system and the drug and medical device companies treated women differently than men. This led me to develop expertise in the areas of medical malpractice involving women, such as obstetrical malpractice, and in the area of drugs and medical devices designed especially for women such as IUDs, DES (the drug given to pregnant women to prevent miscarriage), breast implants, diet drugs, and other such products. My experiences as one of the first women trial lawyers have made me a tougher, better lawyer with more empathy toward those who have suffered any kind of prejudice.

    .dotborders.right
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney

      .picture.mark.left
      .name Mark E. Burton, Jr.
      .title Partner

      .copy
        p Nancy shared the practice with her father LeRoy for over 30 years. Together they built a firm based on essential values that continue to this day. Nancy's accomplishments are recognized by both her clients and her peers. She received the San Francisco Trial Lawyers Association Lifetime Achievement Award in April 2010, an honor that had never before been awarded to a woman trial lawyer. This award reflects Nancy's career and accomplishments in helping those injured and those who otherwise would have no voice.  
        p Throughout her career Nancy has been a passionate advocate, using the law to address women's healthcare issues and other areas of social justice. As one of the first woman personal injury lawyers she combines the tenaciousness, determination, and empathy for her clients. These attributes are essential as she has tackled a series of groundbreaking cases including DES Litigation, the first breast implant case to establish the connection between silicone and physical injuries, and the first Diet Drug (Fen-Phen) case filed and settled. 

        p Personal Statement
        p A native San Franciscan, I am dedicated to using the law to achieve justice.

        p I was born in San Francisco and was raised in the Sunset District. I decided at the age of twelve that I wanted to be a lawyer after seeing my father's love of the law and his ability to do justice and achieve social change through his profession. We shared the practice, cases, trials, ideas, and our work lives for over thirty years. 

        p I am a strong advocate for women's healthcare issues. I have been interested in women's healthcare issues since I began to practice. At that time - and unfortunately even now - the healthcare system and the drug and medical device companies treated women differently than men. This led me to develop expertise in the areas of medical malpractice involving women, such as obstetrical malpractice, and in the area of drugs and medical devices designed especially for women such as IUDs, DES (the drug given to pregnant women to prevent miscarriage), breast implants, diet drugs, and other such products. My experiences as one of the first women trial lawyers have made me a tougher, better lawyer with more empathy toward those who have suffered any kind of prejudice.

    .dotborders.left
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney

      .picture.mark.right
      .name Mark E. Burton, Jr.
      .title Partner

      .copy
        p Nancy shared the practice with her father LeRoy for over 30 years. Together they built a firm based on essential values that continue to this day. Nancy's accomplishments are recognized by both her clients and her peers. She received the San Francisco Trial Lawyers Association Lifetime Achievement Award in April 2010, an honor that had never before been awarded to a woman trial lawyer. This award reflects Nancy's career and accomplishments in helping those injured and those who otherwise would have no voice.  
        p Throughout her career Nancy has been a passionate advocate, using the law to address women's healthcare issues and other areas of social justice. As one of the first woman personal injury lawyers she combines the tenaciousness, determination, and empathy for her clients. These attributes are essential as she has tackled a series of groundbreaking cases including DES Litigation, the first breast implant case to establish the connection between silicone and physical injuries, and the first Diet Drug (Fen-Phen) case filed and settled. 

        p Personal Statement
        p A native San Franciscan, I am dedicated to using the law to achieve justice.

        p I was born in San Francisco and was raised in the Sunset District. I decided at the age of twelve that I wanted to be a lawyer after seeing my father's love of the law and his ability to do justice and achieve social change through his profession. We shared the practice, cases, trials, ideas, and our work lives for over thirty years. 

        p I am a strong advocate for women's healthcare issues. I have been interested in women's healthcare issues since I began to practice. At that time - and unfortunately even now - the healthcare system and the drug and medical device companies treated women differently than men. This led me to develop expertise in the areas of medical malpractice involving women, such as obstetrical malpractice, and in the area of drugs and medical devices designed especially for women such as IUDs, DES (the drug given to pregnant women to prevent miscarriage), breast implants, diet drugs, and other such products. My experiences as one of the first women trial lawyers have made me a tougher, better lawyer with more empathy toward those who have suffered any kind of prejudice.

    .dotborders.right
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney

      .picture.nuala.left
      .name Nuala McNabola
      .title Chief Financial Officer and Office Manager

      .copy
        p Nancy shared the practice with her father LeRoy for over 30 years. Together they built a firm based on essential values that continue to this day. Nancy's accomplishments are recognized by both her clients and her peers. She received the San Francisco Trial Lawyers Association Lifetime Achievement Award in April 2010, an honor that had never before been awarded to a woman trial lawyer. This award reflects Nancy's career and accomplishments in helping those injured and those who otherwise would have no voice.  
        p Throughout her career Nancy has been a passionate advocate, using the law to address women's healthcare issues and other areas of social justice. As one of the first woman personal injury lawyers she combines the tenaciousness, determination, and empathy for her clients. These attributes are essential as she has tackled a series of groundbreaking cases including DES Litigation, the first breast implant case to establish the connection between silicone and physical injuries, and the first Diet Drug (Fen-Phen) case filed and settled. 

        p Personal Statement
        p A native San Franciscan, I am dedicated to using the law to achieve justice.

        p I was born in San Francisco and was raised in the Sunset District. I decided at the age of twelve that I wanted to be a lawyer after seeing my father's love of the law and his ability to do justice and achieve social change through his profession. We shared the practice, cases, trials, ideas, and our work lives for over thirty years. 

        p I am a strong advocate for women's healthcare issues. I have been interested in women's healthcare issues since I began to practice. At that time - and unfortunately even now - the healthcare system and the drug and medical device companies treated women differently than men. This led me to develop expertise in the areas of medical malpractice involving women, such as obstetrical malpractice, and in the area of drugs and medical devices designed especially for women such as IUDs, DES (the drug given to pregnant women to prevent miscarriage), breast implants, diet drugs, and other such products. My experiences as one of the first women trial lawyers have made me a tougher, better lawyer with more empathy toward those who have suffered any kind of prejudice.

    .dotborders.right
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney
