.area
  .summary
    .icon.danger
      .inner

    .desc
      .title Dangerous &amp; Defective Products/Devices
      .copy

        p As consumers, we are exposed to various products daily and even when used correctly the products can be very dangerous and cause severe harm. Many of the products you use are unsafe due to manufacturing defects, failure to warn of dangerous propensities of which a manufacturer is aware, or improper deisgn.
        p It's simple. Manufacturers must not sell products that endanger the public. If they do, they, along with the distributors, vendors, retailers, or others, can be held responsible for the injuries they cause.
        p We have successfully represented thousands of people who have been victims of the failure by manufacturers to ensure the safety of their products. These manufacturers include drug manufacturers, medical device manufacturers, consumer product manufacturers, like baby toys or cribs, to name a few. Dangerous products have caused death, devastating injuries and permanent harm and have ruined people’s lives.
        p We have the knowledge, skills, resources and experience to investigate and pursue products cases against large corporations.

  .clear
  .highlights
    .inner
      .title our cases include:
      .list.semilong
        ul
          li Prescription / Over the Counter Drugs
            ul
              li Lamotrigine/Lamictal
              li Stevens-Johnson Syndrome / Toxic Epidermal Necrolysis
              li Fen-Phen and Diet Drugs / Pulmonary Arterial Hypertension
              li SSRIs / Antidepressants
              li Tylenol, Advil & Motrin
        ul
          li Consumer Products
            ul
              li Household Products
              li Massagers
              li Ladders
              li Utility Knife, Teapot, and other kitchen items
        ul
          li Industrial Machinery
          li Juvenile/Child Products
            ul
              li Clothing
              li Bassinets
              li Cribs
              li Toys

      .clear
      .copy These are only examples of the work we have done. We are not limited to these cases.

  .clear

  .examples
    .frame.right.danger
      .border.top
      .image
      .border.bottom
    .desc.left
      .title examples of success include:
      .copy
        ul
          li  First case linking the defective diet drug Fen-Phen to Primary  Pulmonary Hypertension
          li  First Fen-Phen case filed and settled
          li  First breast implant case to link silicone to physical injuries
          li  First DES lawsuit -- a $42 million jury verdict for a group of injured women
          li  First Zyprexa lawsuit
          li  First mass torts claim.
          li  Largest crib recall in the U.S.
          li  Published Appellate Opinions
        p We recently had a published opinion in the First District Court of Appeal, Hardin v. PDX, Inc. (2014) 227 Cal.App.4th 159, involving a dangerous drug product that was sold with no warnings that caused Stevens-Johnson Syndrome and Toxic Epidermal Necrolysis.
        p Scheduling a free consultation with one of our attorneys can be your first step towards getting the help the law allows. <a href="tel:#{config.meta.phone}">Call us</a> or <a href="/#form">contact us</a> by completing our online form.

      .stars
        include ../../vector/stars.svg

  .clear
  .dotborders
    .dots.long
    .dots.long
