
.area
  .summary
    .icon.negligent
      .inner

    .desc
      .title Negligent & Dangerous Business Practices 
      
      .copy
        p As people, we use businesses on a daily basis for all types of needs. Many of these businesses have practices that cause injury and suffering. We represent people who have been the victims of negligent and dangerous business practices. 
        p We successfully litigated and settled a case involving families whose children were born as a result of sperm purchased from a sperm bank that inadequately screened and assessed donors, and the families discovered that the donor used was schizophrenic, a hereditary condition. We achieved a great resolution and got the Sperm Bank to change its practices. 
        p We achieved a great result for families who lost young college children as a result of drug overdoses at their schools. We successfully resolved these cases by showing that the students and housing organizations were inadequately or improperly trained, informed and instructed about how to respond to overdose. Many of the universities now have different policies.  
        p Our successes against these entities show our creativity and results for our clients, and also show how we have changed certain industries and business practices. 
        p If you think that you have been injured or harmed in some way by negligent and dangerous business practices, contact us. 
        

  .clear
  .highlights
    .inner
      .title We handle cases involving negligent & dangerous business practices by
      .list.long
        ul
          li Sperm Banks, Fertility Clinics, Egg Banks and Cryobanks
          li Universities, Colleges, Schools and Other Institutions
          li Stores, Retail Chains, Independent Sellers of Food or Other Products
          li Pharmacies
          li Hotels, Motels
          li Other businesses, companies or sellers of items or services

  .clear

  .examples
    .image.left.property
    .desc.right.property
      .title examples of success include:
      .copy
        p ***Examples copy pending.
        p These are only examples of the work we have done. We are not limited to these cases.
        p If you, or anyone you know, has been injured on another’s property, or on the roadways, or has sustained any serious injury caused by something or someone else, contact us, and we can tell if you someone can be held accountable.
        p Scheduling a free consultation with one of our attorneys can be your first step towards getting the help the law allows. <a href="tel:#{config.meta.phone}">Call us</a> or <a href="/#form">contact us</a> by completing our online form.

      .stars
        include ../../vector/stars.svg

  .clear
  .dotborders
    .dots.long
    .dots.long
