.area
  .summary
    .icon.danger
      .inner

    .desc
      .title Dangerous &amp; Defective Products/Devices
      .copy

        p As consumers, we are exposed to various products daily and even when used correctly the products can be very dangerous and cause severe harm. Many of the products you use are unsafe due to manufacturing defects, failure to warn of dangerous propensities of which a manufacturer is aware, or improper deisgn.
        p It's simple. Manufacturers must not sell products that endanger the public. If they do, they, along with the distributors, vendors, retailers, or others, can be held responsible for the injuries they cause.
        p We have successfully represented thousands of people who have been victims of the failure by manufacturers to ensure the safety of their products. These manufacturers include drug manufacturers, medical device manufacturers, consumer product manufacturers, like baby toys or cribs, to name a few. Dangerous products have caused death, devastating injuries and permanent harm and have ruined people’s lives.
        p We have the knowledge, skills, resources and experience to investigate and pursue products cases against large corporations.

  .clear
  .highlights
    .inner
      .title cases include:
      .list.semilong
        ul
          li Prescription/Over the Counter Drugs
            ul
              li Lamotrigine/Lamictal
              li Stevens-Johnson Syndrome/Toxic Epidermal Necrolysis
              li Fen-Phen and Diet Drugs/Pulmonary Arterial Hypertension
              li SSRIs/Antidepressants
              li Tylenol, Advil & Motrin
          li Vaccine Cases 
          li Medical Device Cases
            ul
              li Defective Implants
              li Mesh: Hernia/Vaginal
              li IVC Cases
              li Morcellator

          li Consumer Products
            ul
              li Household Products
              li Massagers
              li Ladders
              li Utility Knife, Teapot, and other kitchen items
          li Juvenile/Child Products
            ul
              li Clothing
              li Bassinets, Cribs
              li Toys

          li Industrial Machinery and Other Products
            ul
              li Lifts
              li Construction Equipment
              li Tools
              li Tires
              li Cranes
              li Car Windows
              li Garage Doors
              li Production Line Equipment

      .clear
      .copy These are only examples of the work we have done. We are not limited to these cases.

  .clear
