
.area
  .summary
    .icon.negligent
      .inner

    .desc
      .title Negligent & Dangerous Business Practices 
      
      .copy
        p As people, we use businesses on a daily basis for all types of needs. Many of these businesses have practices that cause injury and suffering. We represent people who have been the victims of negligent and dangerous business practices. 
        p We successfully litigated and settled a case involving families whose children were born as a result of sperm purchased from a sperm bank that inadequately screened and assessed donors, and the families discovered that the donor used was schizophrenic, a hereditary condition. We achieved a great resolution and got the Sperm Bank to change its practices. 
        p We achieved a great result for families who lost young college children as a result of drug overdoses at their schools. We successfully resolved these cases by showing that the students and housing organizations were inadequately or improperly trained, informed and instructed about how to respond to overdose. Many of the universities now have different policies.  
        p.indented Our successes against these entities show our creativity and results for our clients, and also show how we have changed certain industries and business practices. 
        p.indented If you think that you have been injured or harmed in some way by negligent and dangerous business practices, contact us. 
        

  .clear
  .highlights
    .inner
      .title.isnt-uppercase We handle cases involving negligent & dangerous business practices by
      .list.long
        ul
          li Sperm Banks, Fertility Clinics, Egg Banks and Cryobanks
          li Universities, Colleges, Schools and Other Institutions
          li Stores, Retail Chains, Independent Sellers of Food or Other Products
          li Pharmacies
          li Hotels, Motels
          li Other businesses, companies or sellers of items or services

  .clear
