.area
  .summary
    .icon.auto
      .inner

    .desc
      .title Motor Vehicle, Bicycle, Pedestrian &amp; Other Accidents
      .copy
        p We have worked on cases involving pedestrians struck by taxis, commuting bicyclists hit by cars, catastrophic injuries sustained by passengers of a van due to dangerous highway/roadway conditions, injuries to an elderly resident due to a Muni driver’s negligence in operating a lift. 
        p We are expert at obtaining full compensation for injured people including medical expenses, lost past and future wages, future medical care costs, attendant care, and pain, suffering and emotional distress.
        p We have years of experience representing people who have been injured in motor vehicle accidents, or accidents involving trucks, bicycles or other transport. We have also successfully represented people who have been injured in accidents during sporting or recreational activities, like wrestling, swimming or zip-lining.
        p We have worked on cases where pedestrians were struck by San Francisco Taxis, commuting bicyclists hit by a car, a van that struck a defective guardrail which caused catastrophic injuries to the van’s passengers, an elderly San Francisco resident who fell from a Muni bus lift due to the driver’s negligence.

  .clear
  .highlights
    .inner
      .title cases include:
      .list
        ul
          li Cars, Motorcycles, Bicycles
          li Commercial Vehicles
          li Public Transportation Vehicles (Bus, Train, or Other Transport)
          li Water Sports/Boating
          li Sporting Activities (e.g. wrestling, school sports)
          li Recreational Activities (e.g. zip-lining)
          li Toxic Foods or Substances
          li Toxic Chemicals
      .clear
      .copy These are only examples of the work we have done. We are not limited to these cases.
  .clear
