footer
  .inner
    .left
      .logo
      .copy
        p 601 Van Ness Ave #2080
        p San Francisco, CA 94102
        p Toll Free: 800-441-5545
        p Local: 415-441-5544
    .right
      .copy
        p contact us toll free
        p: a(href='tel:18004415545') 1-800-441-5545
      .socials
        a.social.facebook(href=data.meta.facebook)
          include ../../pub/svg/facebook.svg
        a.social.twitter(href=data.meta.twitter)
          include ../../pub/svg/twitter.svg
        .copyright &copy; 2016 hersh &amp; hersh
    .clear
