
extends ../extends/layout

block content

  .page.attorneys

    .attorney#nancy
      .picture.nancy.right
      .name Nancy Hersh
      .title Founding Partner

      .copy
        p Nancy shared the practice with her father LeRoy for over 30 years. Together they built a firm based on essential values that continue to this day. Nancy's accomplishments are recognized by both her clients and her peers. She received the San Francisco Trial Lawyers Association Lifetime Achievement Award in April 2010, an honor that had never before been awarded to a woman trial lawyer. This award reflects Nancy's career and accomplishments in helping those injured and those who otherwise would have no voice.
        p Throughout her career Nancy has been a passionate advocate, using the law to address women's healthcare issues and other areas of social justice. As one of the first woman personal injury lawyers she combines the tenaciousness, determination, and empathy for her clients. These attributes are essential as she has tackled a series of groundbreaking cases including DES Litigation, the first breast implant case to establish the connection between silicone and physical injuries, and the first Diet Drug (Fen-Phen) case filed and settled.

        p.b Personal Statement
        p A native San Franciscan, I am dedicated to using the law to achieve justice.
        p I was born in San Francisco and was raised in the Sunset District. I decided at the age of twelve that I wanted to be a lawyer after seeing my father's love of the law and his ability to do justice and achieve social change through his profession. We shared the practice, cases, trials, ideas, and our work lives for over thirty years.
        p I am a strong advocate for women's healthcare issues.
        p I have been interested in women's healthcare issues since I began to practice. At that time - and unfortunately even now - the healthcare system and the drug and medical device companies treated women differently than men. This led me to develop expertise in the areas of medical malpractice involving women, such as obstetrical malpractice, and in the area of drugs and medical devices designed especially for women such as IUDs, DES (the drug given to pregnant women to prevent miscarriage), breast implants, diet drugs, and other such products.
        p My experiences as one of the first women trial lawyers have made me a tougher, better lawyer with more empathy toward those who have suffered any kind of prejudice.

        p My law school class had a total of 220 students but only 20 women, the largest class of women it had ever had. At the time I attended law school and started to practice, there were many law professors, judges, and lawyers who did not think that women could, or should, practice law.
        p There were professors who told me that I was unfairly depriving some worthy young man of a place in the school and that I would practice for a year, get married, have children and quit. They were wrong about the quitting part. 
        p There were judges who asked me to get coffee for them and the other trial lawyers during trial. There was the judge who told me women should try only divorce cases just as I was about to begin a medical malpractice trial. There were male lawyers who came unglued when confronted by vigorous advocacy by a woman lawyer. And so on. Fortunately, these experiences have dissipated with time, personal success and recognition and with the entry of many more women into the profession.
        p Women make very effective trial lawyers, bringing many special qualities that make them great advocates for individual plaintiffs. One of my highest verdicts came when I gave my closing argument nine months pregnant and that baby, my daughter, Kate, now practices with us at Hersh & Hersh. 
        p I am happy and proud to be a woman and a trial lawyer. Most of all, I love the practice of law, I love a good trial, and I believe in our system of justice.
        p.b Interests Outside of Law
        p I am married with four adult daughters, who live in the Bay Area. Two are lawyers, one is a Veterinarian, and the other is an entrepreneur, starting her own social/digital marketing business. Two of my daughters are married so I acquired two lovely sons. I love spending time with my family, including during our regular Sunday night dinners. I have always had poodles. My two Poodles, Elton and Olive, come to the office with me. I am also a Reining Horse Rider, which is a fancy phrase for a cowgirl, showing horses around the Bay Area when I can. 

        p.b Education

        div.bb J.D., University of California at Berkeley, Boalt Hall School of Law, Berkeley, California, 1970
        div Honors: Member and Editor, Law Review Journal
        br
        div.bb B.A., University of California, Berkeley, 1967 
        div Honors: Graduated Phi Beta Kappa Major: Anthropology
        br

        p.b Jurisdictions Admitted to Practice
        div California, 1971
        div U.S. District Court Northern District of California
        br

        p.b Professional & Bar Association Memberships
        div San Francisco Trial Lawyers Association 
        div Member Since: 1971 
        div President: 1979 (First Woman President)
        div American Board of Trial Advocates: Select organization admitting only those with significant trial experience and high ethics. 
        div Consumer Attorneys of California

        p.b Classes/Seminars Taught
        div Law Professor, Teaching, Personal Injury Litigation, Hastings College of the Law
        div Many CLE Courses on depositions, trial and discovery generally. 

        p.b Honors and Awards
        ul
          li Lawdragon 500 Guide of Leading Plaintiffs' Lawyers, 2007 - Present
          li California Lawyer Attorneys of the Year Award, 2006 - Present
          li One of Northern California's Super Lawyers, Law & Politics Magazine, 2005 - Present
          li One of Northern California's Super Lawyers, Law & Politics Magazine, 2006 - Present
          li One of Northern California's Super Lawyers, Law & Politics Magazine, 2007 - Present
          li One of Northern California's Super Lawyers, Law & Politics Magazine, 2008 - Present
          li One of the Top Fifty Women Litigators in California, Daily Journal
          li One of Northern California's Super Lawyers, Law & Politics Magazine, 2009 - Present
          li Lifetime Achievement Award, San Francisco Trial Lawyers Association 2010 
          li Super Lawyer, Super Lawyers Magazine, 2016
                

    .dotborders.right
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney#mark

      .picture.mark.left
      .name Mark E. Burton, Jr.
      .title Partner

      .copy

        p I started as an associate at Hersh & Hersh in 1998 and have been a partner since July 2004. I have managed, prepared, and handled a diverse group of personal injury matters, including employment cases: wage & hour, harassment cases, and pharmaceuticals, medical devices, motor vehicle collisions, and medical malpractice cases. I have a deep background in mass tort litigation, such as Zyprexa and Defibrillators/Pacemakers.

        p Insurance Companies, Corporations and Doctors have more money, they have more attorneys and they have far more political influence. The only reason that we are able to prevail on behalf of their victims is because justice is on our side. As long as these corporations continue to value profit over the rights and safety of the public, I will do my part to bring justice to the injured consumers I am so privileged to serve.
        p I live in Nicasio Valley, Marin County with my wife and two young boys. My boys are avid baseball players. I spend time outside of the law coaching their team, maintaining the baseball field and working around the ranch in Nicasio.

        p.b Education

          div.bb J.D., Golden Gate University School of Law, San Francisco, California, 1995
          div Honors: Member and Editor, Law Review Journal
          br

          div.bb B.A., University of California, Santa Barbara, 1991
          div Honors: Deans List, Sigma Phi Epsilon
          div Major: Law and Society
          br

          p.b Jurisdictions Admitted to Practice
          div California, 1995
          div U.S. District Court Northern District of California
          br

          p.b Professional & Bar Association Memberships
          div.bb Golden Gate University School of Law
          div Member of the Dean's Advisory Board
          div.bb American Association for Justice
          div.bb American Inns of Courts
          div.bb San Francisco Trial Lawyers Association
          div.bb California State Bar Arbitrations
          p.b Honors and Awards
          ul
            li Named a 2009 Northern California Rising Star, Law & Politics Magazine, publishers of Super Lawyers
            li Super Lawyer, Super Lawyers Magazine, 2016
          
          
      .clear
    .clear

    .dotborders.left
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney#charles

      .picture.charles.right
      .name Charles C. Kelly, II.
      .title Partner

      .copy

        p I am a partner at Hersh & Hersh and have practiced law with Hersh & Hersh since 2002, handling catastrophic injury cases in diverse areas of law including premises liability, product liability, and general negligence.
        p In 2008, I was a finalist for the Consumer Attorneys of California’s Trial Lawyer of the Year award for my work on Johns v. Simplicity, Inc., which resulted in the largest infant crib recall in history. The case was covered by the Chicago Tribune, Los Angeles Times and Washington Post. My clients and I also appeared on the CBS Morning Show with Connie Chung.
        p Other noteworthy cases with complex liability and damage issues that I have successfully resolved include:

        ul
          li A premises liability action against a Bay Area motel for the sexual assault of a guest in her room by an unknown intruder.
          li A premises liability action against a building owner for a defective ladder, which caused my client, a worker on the premises, to fall multiple stories from the roof.
          li A premises liability and negligence action against a treatment center for children with autism after my client, a 6 year-old child, lost her finger in the machinery of a treatment device.
          li A medical malpractice action against a Bay Area hospital after a nurse failed to properly monitor the fetal heart rate resulting in severe brain injury in the newborn.
          li A dangerous condition of public property action against the State of California for a defective median barrier located on Interstate 80 in Solano County.
          li A product liability action against the manufacturer of a medical device used to repair meniscus tears that failed post-operatively and caused permanent damage to a firefighter.

        p I enjoy challenges both in and out of the courtroom. I ski, paddleboard, hike and mountain climb.  I have two adult children. I live in Marin County and can be found around Fairfax on most weekends walking my two dogs, Melanie and Kali, and hanging out with the neighbors.

        p For commentary, legal news and trends you can follow me on twitter  <a href="https://twitter.com/sfpilaw" target="_new">@sfpilaw</a>.

        p.b Education
        div.bb J.D., Indiana University at Bloomington School of Law, Bloomington, Indiana, 1985 
        div Honors: Cum Laude
        br
        div.bb B.A., University of Massachusetts, Amherst, 1982 
        div Major: Economics
        br

        p.b Jurisdictions Admitted to Practice
        div California, 1985
        div U.S. District Court Northern District of California
        br

        p.b Professional & Bar Association Memberships
        div Consumer Attorneys of California
        div San Francisco Trial Lawyers Association
        div American Association for Justice
        br

        p.b Honors and Awards 
        ul
          li Super Lawyer, Super Lawyers Magazine, 2016
          li Finalist for the Consumer Attorneys of California’s Trial Lawyer of the Year 
                

    .dotborders.right
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney#kate

      .picture.kate.left
      .name Kate Hersh-Boyle
      .title Partner

      .copy
        p I graduated from law school in 2011 and began working at Hersh &amp; Hersh that same year. I have worked on a variety of personal injury matters: medical malpractice involving death and injury, including birth injury, stroke, failed surgery, dangerous and defective drug and device, automobile, pedestrian, bicycle accidents, and business litigation. I have handled all parts of a case from before it is filed through trial.
        p I am passionate about fighting for justice, winning and achieving great results for my clients. I had the honor of growing up watching my family, full of incredible lawyers, work passionately to achieve justice and social change by advocating for and helping people who had been injured. I was inspired to do the same. I have the additional privilege of working with my mother, Nancy, learning from her incredible experience and sharing her unwavering passion for justice, the law and our work.
        p Besides successfully representing people through trial and settlements, one of the things I have valued most is being able to use skill, intellect and perseverance to change the law. I was part of a team that won an appeal in the First District Court of Appeal. The case involved permanent injuries, including blindness and burn-like rashes, sustained by a woman from taking a dangerous drug that came without warnings about its risks. The team of Hersh &amp; Hersh lawyers on the case uncovered that the warnings were intentionally omitted from the patient handout pursuant to an agreement between two entities. Hersh &amp; Hersh sued the software provider that distributed the information and altered the software to exclude the warnings. The software vendor filed an anti-SLAPP Motion claiming it owed no duty to our injured client. I prevailed in briefing and argument at the trial court level when the Defendant’s anti-SLAPP motion was denied.  The Defendant appealed the denial, and I, along with a team of attorneys, won on appeal, resulting in a published opinion, Hardin v. PDX, Inc. (2014) 227 Cal.App.4th 159, that changed the face of the law.
        p Outside of the law, I’ve coached a high school mock trial team and was thrilled when our team made it to the California State Finals in 2016 and again in 2017. I live in Marin County with my husband and young daughter. My husband and I are lucky to have our family in the area and love spending time with our family and close friends. I also enjoy traveling and skiing. I am an avid runner, running 13 half marathons in 2013 and am grateful to live in the beautiful Bay Area.

        p.b Education
        div.bb J.D., University of San Francisco School of Law, San Francisco, California, 2011.
        br
        div.bb B.A., Barnard College, Columbia University, New York, New York, 2006.
        div Honors: Magna Cum Laude
        div Major: American Studies, focus and Senior Thesis in Women&#39;s History and Health Issues
        br
        p.b Jurisdictions Admitted to Practice
        div California, 2011
        div U.S. District Court Northern District of California
        br
        div.b Professional &amp; Bar Association Memberships:
        ul
         li Bar Association of San Francisco
         li San Francisco Trial Lawyers Association (SFTLA)
         li Consumer Advocates of California (CAOC)
        div.b Honors and Awards
        ul
          li: a(href='/pdf/2016_08_02_14_54_12.pdf',target='_new') Rising Star by Super Lawyers Magazine, 2016
          li Rising Star by Super Lawyers Magazine, 2017

    .dotborders.left
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney#brendan

      .picture.brendan.right
      .name Brendan Gannon
      .title Associate

      .copy

        p I became an Associate at Hersh & Hersh in 2016.  I am an American citizen, but my family is from Ireland, and I grew up in Ireland before attending University in the United States.
        p I lived in Florida for the earlier part of my life and through high school. After graduating from the University of Central Florida with a degree in International Relations, I spent 3 years working for NASA in Washington D.C. and Cape Canaveral, Florida.  I was a program coordinator at NASA and felt, after 3 years, I wanted to directly impact people’s lives. I decided to go to law school.
        p I attended law school at the University of California, Hastings College of the Law in San Francisco.  After graduating from UC Hastings, I worked as a public defender for the Los Angeles County Public Defender’s Office and the San Francisco Public Defender’s Office. While at the San Francisco Public Defender’s Office, I represented hundreds of clients in hearings and through multiple jury trials. I also got to directly observe dedicated lawyering making a meaningful difference in the lives of people and their families, and I was committed to using my law degree to help people change their lives for the better.
        p In my free time, I love to surf, bike and watch the San Francisco Giants. I have a sister who lives nearby, and we love exploring new places to eat. I also enjoy the outdoors of Northern California.

        p.b Education
        div.bb J.D., UC Hastings College of the Law, San Francisco, California, 2014.
        div Concentration: Social Justice.
        br
        div.bb B.A., University of Central Florida, Orlando, Florida, 2007.
        div Honors: Cum Laude.
        div Major: Political Science/International Relations

        p.b Jurisdictions Admitted to Practice
        div California, 2014
        div U.S. District Court Northern District of California

      .clear
    .clear

    .dotborders.right
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney#nuala

      .picture.nuala.left
      .name Nuala McNabola
      .title Chief Financial Officer and Office Manager

      .copy

        p Nuala joined Hersh & Hersh in 1984 and has managed the firm's finances and human resources. Her goal is to keep the firm running smoothly and happily so that the attorneys can focus on assisting clients. Nuala’s responsibilities at Hersh & Hersh include the following:

        ul.custom
          li Manage the firm's finances as accountant and controller. Guide the firm's financial growth while maximizing its ability to continue its mission to serve the injured individual and discourage industrial abuses of the consumer.
          li Manage the firm's human resources in a way that creates a productive and congenial environment.

        p.b Personal Statement
        p I was born, raised, and educated in Dublin, Ireland, and am the second oldest of five children. I married Noel McNabola, with whom I came to the United States for a "two year" visit "abroad". Our "two year" visit has now lasted thirty-eight years, during which Noel and I have pursued our accounting careers while producing three wonderful "native San Franciscan" children.
        p I began at Hersh & Hersh after several years working in major corporations. The family relationships at Hersh & Hersh, the consumer-oriented law practice, and the small, personal environment of the firm offered a great opportunity to use my accounting and human resource skills in a place I felt was doing good work and helping people. I have been fortunate in my ability to combine the sometimes-impersonal field of accounting with the very personal experiences of our clients and employees.
        p I am proud of the work this firm has done and continues to do. I am happy to organize its finances and personnel to enable the lawyers to accomplish their goals in a productive and congenial environment


    .dotborders.right
      .dots.shorter
      .break
      .clear
      .dots.short
      .clear
      .dots.short

    .attorney
