
.area
  .summary
    .icon.property
      .inner

    .desc
      .title Dangerous Property Conditions
      .copy
        p Property can be dangerous for a number of reasons, including the failure by an owner to warn of a dangerous condition, rules and regulations that are unsafe, a defective product or item, like a ladder, on the property, failure by the owner to have security on site, or dangerous conditions on a roadway, to name a few. 
        p We have successfully represented people who have sustained injuries because a property or environment they entered was unsafe, including worksites, construction sites or roadways. We also consider that an “on the job injury” may have been caused by someone or some business entity, not just your employer. 
        p We have worked on cases involving a man who fell from a defective ladder attached to a building, a brain injury from drug overdose in a university residence because of policies and procedures in the residence, death from assault in a nightclub without sufficient security, and injuries from a defective guardrail on a roadway piercing a vehicle.

  .clear
  .dotborders
    .dots.long
    .dots.long
  .highlights
    .inner
      .title our cases include:
      .list.long
        ul
          li Dangerous & Defective Highways 
            ul
              li Inadequate signage
              li Improper lane marking
              li No shoulder or steep shoulder droplioff
              li Defectively designed curve
              li Poor intersection design
              li Defective traffic lights
              li Inadequate or improperly placed barriers
              li Dangerous exit ramps
              li Lack of guardrails & defective guardrails 
              li Failure to maintain roadway
              li Dangerous median, lack of median barrier
              li Trees or other dangers in the right of way
              li Dangerous exit ramps
              li Improperly designed construction zones
              li Poor Maintenance of Traffic (MOT) plans
              li Road construction defects
              li Failure to comply with state and federal regulations

        ul
          li Construction/Workplace Accidents
            ul
              li Explosions
              li Fires
              li Machinery Malfunction
              li Scaffolding/Roof/Balcony Collapse 
        ul
          li Building Owner/Operator Negligence
            ul
              li Slip and Fall
              li Scaffolding/Roof/Balcony Collapse 
              li Lighting Failures 
              li School Safety Failures
              li Injuries at College Campuses/Deaths/Drug Overdose
              li Pool Design Failures
              li Hotel & Motel Dangerous Conditions 
        ul
          li Security Failures
            ul
              li Assaults on Property
              li Nightclub Security Failures
              li School Security Failures
              li Hotel Security Failures

      .clear

  .dotborders
    .dots.long
    .dots.long

  .clear

  .examples
    .image.left.property
    .desc.right.property
      .title examples of success include:
      .copy
        p ***Examples copy pending.
        p These are only examples of the work we have done. We are not limited to these cases. 
        p If you, or anyone you know, has been injured on another’s property, or on the roadways, or has sustained any serious injury caused by something or someone else, contact us, and we can tell if you someone can be held accountable. 
        p Scheduling a free consultation with one of our attorneys can be your first step towards getting the help the law allows. For a free consultation, call us or contact us by completing our online form.

      .stars
        include ../../pub/svg/stars.svg

  .clear
  .dotborders
    .dots.long
    .dots.long
