extends ../extends/layout

block content
  .page.success
    .banner
      .title Success
      .copy Hersh & Hersh has successfully tried and/or settled thousands of cases. We have recovered hundreds of millions of dollars for our clients, representing victims of injury and harm. 

    .copy
      .title We are pioneers
      p Our creativity and willingness to undertake cases of first impression and to fight and win for our clients started in the late 70’s when we were the first firm to accept and file drug product cases for children of women who had been give a miscarriage preventative (DES) which caused injury to the fetus which manifested in their adolescence.  This pioneering spirit continued when we tried and won the first breast implant case that established that the manufacturer had lied about leakage of silicone into surrounding tissue and the link between the leaking silicone and autoimmune disease in patients.  Then we resolved the first Fen-Phen diet drug case by searching for and finding the causal link between the drug and the horrible, life-threatening lung condition Primary Pulmonary Hypertension (PPH) aka Pulmonary Arterial Hypertension.
      p As you can see by the examples listed here, this spirit of innovative litigation continues today

      p: b We Obtain Millions of Dollars and Achieve Industry Change

      p We are passionate about achieving the best results for our clients and here is the proof. . .

      p
        b Major Settlement of Sperm Bank/Deceptive Business Practice Case
        br
        | We just successfully settled a case for nine families with 13 children who lived in three different countries whose children were born as a result of sperm purchased from a sperm “donor” whose identity was revealed and turned out to be schizophrenic. Schizophrenia can be passed on to children and they needed medical monitoring.  No such case had ever been filed and successfully litigated.  We fought and won efforts to dismiss the case, efforts to send all of the cases to the home state of the sperm bank, Georgia, hoping to dismiss the cases there.  No other firm even considered being the first to file this case and we used legal theories such as deceptive business practices that were unique and creative.  The parties agreed to keep the settlement amount confidential.  The defendant initiated changes in its processing of sperm donors to prevent this recurring as a result of our cases.

      p
        b Multi-Million Dollar Resolution of Complex Products Liability Case
        br
        | We successfully turned what other lawyers thought was a difficult medical malpractice case with a cap on damages into a case against the manufacturer of the drug that caused the horrific injuries and, more importantly, the creator and seller of the drug literature the pharmacy provided which did not warn about a deadly drug-related condition.  After each defendant tried unsuccessfully to get the case dismissed, we fought an appeal and won, resulting in a multi-million dollar settlement. The defendants changed their drug literature and their processes as a result of our case.

      p
        b Prevailed and Obtained Compensation For Our Client in Gardasil Vaccine Case 
        br
        | We took and won a case before the Vaccine Court in which a young boy had an unusual reaction to Gardasil, the shot given to prevent HPV.  The injury experienced by our client was not considered a “tabled” injury for which compensation would be received. But we persevered in the Vaccine Court using our creativity and medical expertise. 


      p
        b Successfully Litigated Cases Involving Drug Overdose on University Campuses 
        br
        | We have successfully fought on behalf of families who lost children as a result of drug overdoses which occurred at the Universities they were attending.  We argued successfully that the dorms and students were inadequately informed and trained with respect to the consequences and signs of drug overdose and appropriate response to overdose.  Many Universities now have policies assuring students that they will not be punished if they call for medical help in situations involving drugs and we are pushing more Universities to adopt similar policies.

      p
        b Obtained Large Resolution for a Family Who Lost a Loved One to A Toxic Food Substance 
        br
        | We represent a family whose wife/mother was poisoned by tea “prescribed” and sold by an herbal tea store.  Her death was horrendous and her family is devastated.  We did not just file a wrongful death case but we saw that the facts supported an additional and more compelling claim for negligent infliction of emotional distress on behalf of the husband of the woman who was poisoned and died. We discovered that the tea was contaminated by a poisonous herb from China and have now located the distributor and manufacturer. Stay tuned for the result.

      p
        b Jury Verdict Win in a Federal Case Involving Misclassified Employee 
        br
        | We tried a case to a jury in Federal Court for Terminix employees who were misclassified as exempt in order to pay them less than they were entitled under the wage and hour laws. Terminix is a huge corporation that brought lawyers in from Chicago to try the San Francisco case. Undeterred, we won for these hard working people and they received past wages and penalties.

      .title Other Examples of Our Success Include
      ul
        li: b Major settlement for victim of rear-end accident who suffered a mild-traumatic brain injury

        li: b Settlement in the millions for a driver injured by dangerous road design 

        li: b Large settlement for a man injured by electricity while repairing a gas station sign 

        li: b First DES Case - a $42 million jury verdict for a group of injured women 

        li: b Major settlement for a gentleman who suffered serious physical injuries when he fell from a defective ladder at a building site while on the job. 

        li: b Recovered millions for a client against the California Department of Transportation for the dangerous condition of Interstate 80 in Fairfield claiming Caltrans failed to provide a safe and effective median barrier along the interstate to prevent cross - over accidents 

        li: b Filed landmark cases against Xytex Corporation, a sperm bank, for fraudulent and negligent misrepresentation of “donor” and failure to do background checks. (Article 1 Article 2)

        li: b Settled a case against Fertility Medical Associates of the Bay Area, a fertility clinic that implanted an embryo belonging to another couple during Jane Doe's in vitro fertilization procedure

        li: b Successfully represented many families whose babies have suffered severe and permanent brain injuries and other physical injuries as a result of negligent management of labor, delivery and resuscitation. 

        li
          b Settled a case for over $6 million dollars against a San Francisco Hospital because its labor and delivery nurse failed to properly manage a laboring mother causing her baby severe brain injury. 
          | Hersh & Hersh teamed with experts in the field of obstetrics, radiology and neurology to bring this case to a successful resolution and provide the family with the financial security needed to ensure excellent future care and treatment for their child.

        li: b Achieved a settlement in the millions for a family whose family member suffered a stroke, which went undiagnosed and untreated by the medical providers, resulting in permanent and debilitating injuries to the individual and achieved a settlement in the millions. 

        li: b Successfully represented a trust that had been depleted of almost all of its substantial assets due to an environmental claim that other attorneys had mishandled.

        li: b Settled $1.5 million Class Action against ServiceMaster and Terminix for wage and hour violations for trainee termite inspectors.

        li: b Litigated to resolution a case by an employee against an employer involving sexual harassment by another employee in the workplace.

        li: b Filed and successfully pursued a case against a distributor and licensor of a bassinet for deceptive business practices, product defects and dangers and other claims arising out of the tragic death of an infant who was strangled and died in the gap between a bassinet’s metal side bars.

        li: b Won an appeal arising from the denial of an anti-SLAPP Motion to Strike in a case involving a software vendor that intentionally omitted warnings for a patient education monograph, resulting in a published appellate opinion by the First District Court of Appeal, Hardin v. PDX, Inc. (2014) 227 Cal.App.4th 159. (Link to Opinion)
