extends ../extends/layout

block content
  .page.success
    .banner
      .title Success
      .copy Hersh & Hersh has successfully tried and/or settled hundreds of cases. We are passionate about achieving the best result for our clients and here is proof.

    .copy
      .title Auto, Pedestrian, Bicycle & Other Traffic Accidents

      p Hersh & Hersh successfully resolved a case involving a Mild Traumatic Brain Injury (MTBI) after a serious rear end car accident left the client (who had a normal MRI) with memory loss and other adverse consequences that greatly impacted his life.
      p Hersh & Hersh achieved a great result when an elderly woman crossing the street who was hit by a driver and Hersh & Hersh was able to show the negligence of the driver.
      p Hersh & Hersh successfully represented a young woman who was riding her bicycle and was hit by the door of a parked vehicle and sustained serious injuries.

      .title Dangerous Property Conditions

      p Hersh & Hersh successfully represented a gentleman who suffered serious physical injuries when he fell from a defective ladder at a building site while on the job. Hersh & Hersh recognized that the case involved third party liability and a defective/dangerous property condition so the gentleman got much more than his worker’s compensation.
      p Hersh & Hersh settled a complex case involving drug use and overdose on a University campus, showing the ability to investigate and pursue and complex liability case and uncover the negligent rules and regulations, which contributed to the severe injuries sustained by the student. (Link)
      p Hersh & Hersh recovered millions for its client against the California Department of Transportation for the dangerous condition of Interstate 80 in Fairfield. Hersh & Hersh claimed that Caltrans failed to provide a safe and effective median barrier along the interstate to prevent cross - over accidents like this from occurring.

      .title Professional Liability & Malpractice (Medical, Legal & Other)

      p.b Sperm Bank Case
      p Hersh & Hersh filed cases against Xytex Corporation, a sperm bank, for fraudulent and negligent misrepresentation of “donor” and failure to do background checks. (LINK)

      p.b Landmark Embryo Mix-up Case
      p Hersh & Hersh settled its suit against Fertility Medical Associates of the Bay Area, a fertility clinic that implanted an embryo belonging to another couple during Jane Doe's in vitro fertilization procedure. The suit alleged that the clinic scientist and the doctor knew before Jane Doe left their offices on the day of the implantation that they had implanted the wrong embryo in her. But the clinic did not inform Ms. Doe and the couple of the mix-up until a year and a half later, and then only after the California Medical Board began investigating the switch

      p.b Birth Injury Case
      p Hersh & Hersh has successfully represented many families whose babies have suffered severe and permanent brain injuries and other physical injuries as a result of negligent management of labor, delivery and resuscitation. Hersh & Hersh successfully settled a case for over $6 million dollars against a San Francisco Hospital because its labor and delivery nurse failed to properly manage a laboring mother causing her baby severe brain injury. Hersh & Hersh teamed with experts in the field of obstetrics, radiology and neurology to bring this case to a successful resolution and provide the family with the financial security needed to ensure excellent future care and treatment for their child.

      p.b Failure to Diagnose Stroke
      p Hersh & Hersh successfully represented a family whose family member suffered a stroke, which went undiagnosed and untreated by the medical providers, resulting in permanent and debilitating injuries to the individual.

      .title Legal Malpractice

      p Hersh & Hersh successfully represented a trust that had been depleted of almost all of its substantial assets due to an environmental claim that other attorneys had mishandled.

      .title Employment Law

      p.b Wage and Hour
      p Hersh & Hersh won a landmark jury verdict in Federal Court against Terminix International for termite inspectors who were not paid overtime wages. The firm also settled $1.5 million Class Action against ServiceMaster and Terminix for wage and hour violations for trainee termite inspectors.

      p.b Harassment
      p Hersh & Hersh successfully litigated to resolution a case by an employee against an employer involving sexual harassment by another employee in the workplace.

      .title Defective Products/Devices

      p Hersh & Hersh filed and successfully pursued a case against a distributor and licensor of a bassinet for deceptive business practices, product defects and dangers and other claims arising out of the tragic death of an infant who was strangled and died in the gap between a bassinet’s metal side bars. (CITE)
      p Hersh & Hersh won an appeal arising from the denial of an anti-SLAPP Motion to Strike in a case involving a software vendor that intentionally omitted warnings for a patient education monograph, resulting in a published appellate opinion by the First District Court of Appeal, Hardin v. PDX, Inc. (2014) 227 Cal.App.4th 159. (Link)
