vendor-prefixes ?= webkit moz o ms official

@import '/inc/mixins'
@import guide
@import '/inc/*'

.clear
  clearfix()

body
  padding 0
  margin 0
  gf(copy1)
  background-color gc(white1)
  color gc(black1)

@import 'index'
@import 'about'
@import 'attorneys'
@import 'practice'
@import 'success'
