header
  .inner
    .copy
      p free attorney consultation
      p contact us toll free
      p: a(href='tel:18004415545') 1-800-441-5545
    .logo
      a.image(href='/')
      .copy Personal attention • Passionate representation
  .menu.off
    .inner
      each option in config.menu
        a.option(href=option.link)=option.name
  .burger.on
    .lines
      span
      span
      span
      span
    .clear
