header
  .inner
    .copy
      p: a(href='/contact') free attorney consultation
      p contact us toll free
      p: a(href='tel:18004415545') 1-800-441-5545
    .logo
      a.image(href='/')
      .copy Personal attention • Passionate representation
  .menu.off
    .inner
      each option in config.menu
        if option.name === 'attorneys'
          a.option.option_attorneys(href=option.link)=option.name
          .pulldown
            a.option(href='/attorneys/#nancy') Nancy Hersh
            a.option(href='/attorneys/#mark') Mark E. Burton, Jr.
            a.option(href='/attorneys/#charles') Charles C. Kelly, II
            a.option(href='/attorneys/#kate') Kate Hersh-Boyle
            // a.option(href='/attorneys/#brendan') Brendan Gannon
            a.option(href='/attorneys/#nuala') Nuala Mcnabola
        else
          a.option(href=option.link)=option.name

  .burger.on
    .lines
      span
      span
      span
      span
    .clear
