header
  > .inner
    padding 30px
    max-width 1200px
    margin auto
    > .logo
      //width 1614px
      //height 178px

      w = 500
      width unit(w, px)
      margin auto
      > .image
        display block
        width unit(w, px)
        height unit(w/9, px)
        background-image url(/img/logo.png)
        background-size cover
      > .copy
        text-align center
        gf(copy1i)
        color gc(blue1)
        margin 10px 0 0 0
      > .mcopy
        display none

    > .copy
      float right
      > p
        margin  0 0 5px 0
        text-transform uppercase
        text-align right
        color gc(blue1)
        gf(copy1s)
        > a
          color gc(blue1)
          text-decoration none
      > p
        animation cellInY 0.2s linear 0s both
        for i in 1..3
          &:nth-child({i})
            animation-delay unit((0.1*i), 's')

  > .menu
    background-color gc(blue1)
    text-align center
    animation fadeIn 0.2s linear 0s both
    > .inner
      max-width 1200px
      margin auto
      position relative
      > .option
        display inline-block
        width 13.5%
        color gc(white1)
        padding 10px 0
        text-decoration none
        text-transform uppercase
        gf(copy2)
        transition background-color 0.1s linear
        &:hover
          background-color gc(blue2)
        &.option_attorneys:hover + .pulldown
            display block
        animation cellOutY 0.2s linear 0.2s both
        for i in 1..8
          &:nth-child({i})
            animation-delay unit((0.05*i)+0.1, 's')
.pulldown
  display none
  position absolute
  top 38px
  left 360px
  &:hover
    display block
  > .option
    display block
    padding 10px 
    text-transform uppercase
    text-align left
    color gc(white1)
    background-color gc(blue1)
    text-decoration none
    &:hover
      background-color gc(blue2)


@media all and (min-width: 1px) and (max-width: 1000px)
  .pulldown
    display none !important
  header
    > .inner
      padding 30px 12px 
      > .logo
        width 100%
        margin 0
        > .image
          width 75%
          height 60px
          background-size contain
          background-repeat no-repeat
        > .copy
          margin 0
      > .copy
        float none
        display none
    > .burger
      position fixed
      top 20px
      right 20px
      clear both
      width 50px
      height 45px
      z-index 150
      &.off > .lines > span
        background-color gc(white1)
      &.off > .lines > span:nth-child(1)
        top 18px
        width 0%
        left 50%
      &.off > .lines > span:nth-child(2)
        transform rotate(45deg)
      &.off > .lines > span:nth-child(3)
        transform rotate(-45deg)
      &.off > .lines > span:nth-child(4)
        top 18px
        width 0%
        left 50%

      > .lines
        position relative
        width 100%
        height 100%
        > span
          display block
          position absolute
          height 9px
          border-radius 9px
          width 100%
          height 9px
          background-color gc(blue1)
          opacity 1
          left 0
          transition 0.25s ease-in-out
          &:nth-child(1)
            top 0px
          &:nth-child(2),
          &:nth-child(3)
            top 18px
          &:nth-child(4)
            top 36px
    > .menu
      position fixed
      top 0px
      right 0px
      bottom 0px
      width 100%
      height 500vh
      z-index 100
      onoff()
      > .inner
        margin 10vh 0 0 0
        > .option
          display block
          width auto
          padding 15px
          text-align center
          gf(h2)

@media all and (min-width: 1px) and (max-width: 321px)
  header > .menu > .inner > .option
    padding 15px
    gf(copy2b)
