
extends inc/layout

block content

  .colors
    .cyan
    .star
      include ../pub/svg/star.svg
  .blend-multiply
    .video#video
      video(loop,muted,autoplay,poster="/img/poster.jpg")
        source(src="/vid/fog.mp4")
    .blend-screen
      .star
        include ../pub/svg/star.svg

  .border.vert.top
  .border.horiz.left
  .border.vert.bottom
  .border.horiz.right

  .content
    .inner
      .logo
        include ../pub/svg/logo.svg
      .pronounce /dəˈfīn(ə)rē/
      .define 1.  a digital product design and innovation company that transforms great ideas into amazing products that people want.
      //.define.second 2. an establishment that transforms big ideas into amazing products for real people
      .bottom
        .line
        .email
          input(type='text',value='hello@definery.io')

  script(type='text/javascript').
    Loader.load('/jst/index.js', 'Index');

