.page.newsdetail
  include summary
  .article
    .image(style="background-image: url(/img/news/" + article.image + ");")
    .title=article.title
    .content
      each p in article.content
        p !{p}
