
extends ../extends/layout

block content
  .page.news
    .summary
      each article,i in config.news
        .article
          .image(style="background-image: url(/img/news/" + article.image + ");")
          .title=article.title
    .articles
      each article,i in config.news
        .article
          .image(style="background-image: url(/img/news/" + article.image + ");")
          .title=article.title 
          .description=article.conten
          a.link(href='/news/' + i) READ MORE
